.IngredientItem {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  border-radius: 25px;
  margin: 10px;
  color: black;
  padding: 5px 20px;

  &__image {
    padding: 15px;
    width: 80px;
    height: 80px;
    padding: 10px 20px;
  }

  &__name {
    min-width: 200px;
    padding: 10px 20px;
  }
  &__cost {
    padding: 10px 20px;
  }

  &__deleteButton {
    padding: 10px 20px;
  }

  &__quantityGroup {
    padding: 10px 20px;
  }
  &__quantity {
    max-width: 55px;

    input {
      text-align: center;
    }
  }
  &__totalPrice {
    padding: 10px 20px;
  }
}
