.CheckoutPane {
  min-height: 680px;
  min-width: 460px;
  width: 40vw;
  height: 80vh;
  background-color: #454d49;
  color: white;
  border-radius: 25px;
  margin: 20px 20px 20px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__paymentInfoHeading {
    margin-right: auto;
  }

  &__Button {
    color: white;
  }

  &__paymentTypeImg {
    width: 50px;
    height: 50px;
    margin: 0px 10px 0px 0px;
    filter: brightness(0) invert(1);
  }

  &__costDetails {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 210px;
    height: 100%;
    padding: 5px 5px;
  }
  &__storeForm {
    display: flex;
    align-items: center;
    padding: 5px 5px;
  }
  &__storeSelectLabel {
    padding: 0px 10px;
  }
  &__paymentMethods {
    display: flex;
    justify-content: space-between;
  }
  &__paymentGroup {
    color: 'white';
  }
  &__paymentInfoForm {
    width: 100%;
  }
  &__paymentGroup {
    width: 80%;
    display: flex;
    align-items: center;
  }
  &__exprAndCvv {
    display: flex;
  }
  &__privateDetails {
    width: 45%;
    padding: 30px 0px;
  }
  &__privateDetailsLabel {
    text-align: left;
    width: 100%;
    padding: 0px 0px 15px 10px;
  }
  &__cardCvvContainer {
    margin-left: auto;
  }
  &__cardLabel {
    padding: 30px 10px 15px 10px;
    text-align: left;
  }
  &__checkoutInfoContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
    min-width: 440px;
    width: 80%;
    padding: 2rem 1rem;
  }
  &__costDetailsSubgroup {
    display: flex;
    justify-content: space-between;
  }
}
